

  .body  {background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }



.banner{
    width:100%;
    background-image: linear-gradient ;
    background-size: cover;
  
}
.navbar{
    width:100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: brown;
}
.flexbox-container{
    display: flex;
    justify-content: center;
    background-color: yellow;
}
    .flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid purple;
    background-color: darkkhaki;

}
.flexbox-item-1{
    min-height: 100px;
    min-width: 350px;
}
.flexbox-item-2 {
    min-height: 200px;
    min-width: 350px;

}
.flexbox-item-3{
    min-height: 250px;
    min-width: 350px;
}
.flexbox-item-4{
    min-height: 275px;
    min-width: 350px;
}

.content {
    width: 900px;
}
.content h1{
    float: left;
}



.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;
}

.box {
    height: 400px;
    width: 600px;
    background-color: beige ;
    color: #fff;
    padding: 10px;
    border: solid 3px black;
  }


  .box-wrapper {
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    font-size:x-large;
    color:red;
}
.img-classpic{
    width: 650px; ;
    background-image: url(./images/classpic.jpg);
}
.img-runbuddy{
   width: 400px;
   background-image: url(./images/runing.jpg);
   background-size:contain;
}

.img-music{
    width: 400px;
    background-image: url(./images/beatItLogo01.png);
    background-size: contain;
}
.img-growth{
    width:350px;
    background-image: url(./images/business-growth-graph.jpg);
    background-size: contain;
}
.img-chart{
    width: 375px;
    background-image:url(./images/organizational-chart.jpg);
    background-size: contain;
}



.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; 
  }
  
 





    .contact {
       
        background-color:brown;
        position: relative;
       top: 600px;
       width:max-content;
       display: flex
       ;
       
    }

    .middle-column {
      
        display: flex;
        align-items: flex-start;
        align-items: flex-end;
        align-items: center;
        flex-direction: column;
      }

      
   